*.png
*.json
*.csv
*.txt
*.htm
downloads/
__pycache__/
config.ini
venv/
output.zip
test.json
test.xml
data/
rawData/*.json
rawData/*.csv
/csv
stocksClovatestSentiment.py
stockSentiment_withNaverClova.py